DISCORD_TOKEN=""
DISCORD_GUILD_ID=""

INVITE_CODE_01=""
ROLE_01=""

INVITE_CODE_02=""
ROLE_02=""

INVITE_CODE_03=""
ROLE_03=""

INVITE_CODE_04=""
ROLE_04=""

INVITE_CODE_05=""
ROLE_05=""

INVITE_CODE_06=""
ROLE_06=""
